@font-face {
	font-family: 'quicksand';
	src: url('fonts/Quicksand_Book.otf');
}
@font-face {
	font-family: 'quicksand-bold';
	src: url('fonts/Quicksand_Bold.otf');
}

a:link {
	color:white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
a:active {
	text-decoration: none;
	color: white;
}

body {
	background: black;
    color: white;
    font-family: quicksand, sans-serif;
	padding: 40px;
	text-align: center;
}

#background {
	background: radial-gradient(#291e04, #191202, #000000);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
}

.main-container {
	width: 90%;
	margin: auto;
}

#headshot {
    padding: 10px 10px 10px 10px;
	border-radius: 300px;
	border-style: solid;
	border-color: #9c6f1c;
	border-width: 8px;
}

#name {
	font-size: 60px;
    margin-top: 25px;
}

#revealExpiration {
	padding: 100px 10px 50px 10px;
	font-size: 20px;
}

#revealExpiration span {
	font-size: 30px;
}

#fingerprint {
	display: block;
	margin: auto;
	padding: 30px 10px 20px 10px;
	cursor: pointer;


	overflow: hidden;
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;


	-webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

#fingerprint:hover {
	filter: drop-shadow(0px 0px 40px #9c6f1c);
}

#expiration {
	display: none;
	font-size: 60px;
	vertical-align: middle;
	letter-spacing: 10px;
}
#expiration span {
	font-size: 10px;
	letter-spacing: 3px;
}

#helper {
    display: none;
    height: 100%;
    vertical-align: middle;
}


@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 600px) {
	body {
		padding: 10px;
	}
}

@media only screen and (max-width: 500px) {
	#headshot {
		width: 200px;
		height: 200px;
		border-radius: 200px;
	}
}