@font-face {
	font-family: 'quicksand';
	src: url('fonts/Quicksand_Book.otf');
}
@font-face {
	font-family: 'quicksand-bold';
	src: url('fonts/Quicksand_Bold.otf');
}

a:link {
	color:white;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
	cursor: pointer;
}
a:active {
	text-decoration: none;
	color: white;
}

body {
	background: radial-gradient(#291e04, #191202, #000000);
    color: white;
    font-family: quicksand, sans-serif;
	padding: 40px;
	text-align: center;
}

.main-container {
	width: 90%;
	margin: auto;
}

#headshot {
    padding: 10px 10px 10px 10px;
	border-radius: 300px;
	border-style: solid;
	border-color: #9c6f1c;
	border-width: 8px;
}

#name {
	font-size: 60px;
    margin-top: 25px;
}

#revealExpiration {
	padding: 100px 10px 50px 10px;
	font-size: 20px;
}

#revealExpiration span {
	font-size: 30px;
}

#fingerprint {
	display: block;
	margin: auto;
	padding: 30px 10px 30px 10px;
	cursor: pointer;
}

#expiration {
	display: none;
	font-size: 60px;
	vertical-align: middle;
	letter-spacing: 10px;
}
#expiration span {
	font-size: 10px;
	letter-spacing: 3px;
}

#helper {
    display: none;
    height: 100%;
    vertical-align: middle;
}


@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 600px) {
	body {
		padding: 10px;
	}
}

@media only screen and (max-width: 500px) {
	#headshot {
		width: 200px;
		height: 200px;
		border-radius: 200px;
	}
}